<nav id="sidebar">
  <h2 class="center margin-2">Paris Healthy Eating Guide</h2>
  <hr>
  <div id="search" class="margin-2">
    <input type="text" placeholder="Filter" data-bind="textInput:query">
  </div>
  <ul data-bind="foreach: search">
    <li id="list-item" data-bind="text: name, click: openRestaurantMarkerFromList"></li>
  </ul>
</nav>
<div id="map"></div>
