<div>
  <div id="search">
    <input type="text" placeholder="Filter" data-bind="textInput:query">
  </div>
  <ul data-bind="foreach: search">
    <li data-bind="text: name"></li>
  </ul>
  <button id="example">Make API request</button>
</div>
<div id="map"></div>
